NEXT_PUBLIC_API_URL=/api/v1
NEXT_PUBLIC_SOCKET_URL=http://117.2.126.123:5050
BACKEND_API_URL=http://117.2.126.123:5050/api/v1
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=****
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=****
